<ion-view>
	<ion-header-bar class="bar-light">
		<button class="button button-icon icon ion-chevron-left" ng-click="goBack()">
		</button>
		<h1 class="title">Investments: {{portfolio.name}}</h1>
		<button class="button button-icon icon ion-plus-round" ng-click="openModal()"></button>
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="investment in investments">
				<h2>{{investment.tickerSymbol}}</h2>
				<ion-option-button class="button-assertive"
				ng-click="removeInvestment(investment)">
				Delete
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>